
h1{
    font-size: 20px;
}

#container{
    text-align: left;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    z-index: 1;
    border: solid black;
    border-radius: 5px;
    display: flex;

}

.section{
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 8px;

}
.todo-list-main{

}
.current-date{
    display: inline-flex;
    color: grey;
    margin-left: 6px;
    font-size: 11px;
    font-weight: 400;

}
.today{
    margin-left: 10px;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    max-width: 97%;



}

.new-add-button{
    cursor: pointer;
    background-color: transparent;
    border: none;


}
    .new-add-button:hover{
        filter: invert(29%) sepia(56%) saturate(2678%) hue-rotate(158deg) brightness(99%) contrast(104%);
    }
.add-ico{
    margin-right: 10px;
    height: 15px;
    width: 15px;

}
.new-item{
    padding-top: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    padding-bottom: 5px;
}
label{
    margin-top: 10px;
    margin-bottom: 8px;
}
textarea{
    height: 200px;
    resize: none;
    font-size: 16px;
}
#submit{
    margin-top: 20px;
}
#date-input{
    width: 380px;
}
.complete{
    color: red;
}
.add-item{
    font-size: 18px;
    border-bottom: 2px solid aliceblue;
    min-width: 725px;
    max-width: 725px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-align: left;
    border-radius: 4px;
}

.todo-title{
    font-size: 18px;
    font-weight: 600;
    color: steelblue;
    margin: 3px;
}
#todo-desc{
    font-size: 16px;
    background-color: lightblue;
    width: 90%;
    border-radius: 3px;
    padding: 8px;
    margin: 10px auto 3px auto;
}
#todo-date{
    font-size: 11px;
    font-weight: 600;
    display: inline-flex;
    color: lightsteelblue;
    margin-left: 10px;
}
#todo-tags{
    font-size: 10px;
    margin: 5px;
    display: inline-flex;
    color: seagreen;
}
#edit{
    float: right;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 2.5px;
}
#edit:hover{
    cursor: pointer;
}

#remove{
    border:none;
    float: right;

    width: 20px;
    height: 20px;
    margin-right: 6px;

}
#remove:hover{
    cursor: pointer;
}
.modal > .content {
    width: 100px;
    padding: 10px 5px;
}


